<?xml version="1.0" encoding="UTF-8"?>
<config>
  <projectType>ASR</projectType>
  <extraction>
    <technique>HTK</technique>
    <vad>true</vad>
    <normalize>true</normalize>
    <frameDuration>25</frameDuration>
    <alphaPreEmphasis>0.97</alphaPreEmphasis>
    <overLap>0.6</overLap>
    <windowing>HAMMING</windowing>
    <numMelFilters>22</numMelFilters>
    <numCoefs>39</numCoefs>
  </extraction>
  <classification>
    <technique>HMM</technique>
    <numGaussians>10</numGaussians>
    <numIterections>10</numIterections>
    <numHERests>3</numHERests>
    <numStates>1</numStates>
    <hmmTypes>POR_FONEMA</hmmTypes>
    <hmmtopology>SIMPLES</hmmtopology>
    <thresholdValue>90.0</thresholdValue>
  </classification>
</config>

